@model List<RonaldsYRonalds.Models.TicketModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Signed In: @User.Identity?.Name</p>
<form asp-controller="AdminPortal" asp-action="Index">
    <p>
        <label>VIN: <input type="text" name="SearchVin" placeholder="Search VIN" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].IncidentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Vin)
                </td>
                <td class="mw-50ch text-wrap text-break">
                    @Html.DisplayFor(model => item.IncidentDescription)
                </td>
                <td class="mw-50ch text-wrap text-break">
                    @Html.DisplayFor(model => item.CreatedAt)
                </td>
                <td>
                    @if (item.Status == TicketStatus.Submitted)
                    {
                        <a asp-action="Process" asp-route-id="@item.Id">Process</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
